*{
	margin:0; 
	padding:0;
	font-family: "微软雅黑";
	line-height: 200%
}
div#container{
	margin: 0 auto;	
	background-color: rgb(205,205,205);
}
/*标题栏*/
div#header{
	height: 60px;
	background-color: rgb(48,48,48);
}
div#header ul{
	float: right;
}
div#header ul li{
	float: left;
	margin: 20px;
}
div#header a{
	text-decoration-line: none;
	color: white;
}
/*侧栏*/
div#sidebar{
	position: absolute;
	top: 60px;
	right: 0;
	width: 400px;
	margin: 20px;
	background-color: white;
	border: 1px solid rgb(205,205,205);
	padding: 20px;
}
div#sidebar table{
	margin-left: 50px;;
}
div#sidebar td{
	border: none;
}
td#mgs{
	font-size: 80%;
	color: rgb(80,80,80);
}
.first{
	text-align: right;
}
.second{
	text-align: left;
}
.submit{
	text-align: center;
}
input#makesure{
	width: 300px;
	background-color: rgb(135,206,250);
	color: white;
	border-radius: 10px;
}
/*文章*/
.Article{
	border: 1px solid rgb(205,205,205);
	padding: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 480px;
	margin-bottom: 20px;
	background-color: white;
}
h2{
	color: rgb(56,56,56);
}
p{
	text-indent:2em; 
}
.Reporter{
	text-indent: 0em;
	color: rgb(80,80,80);
	font-size: 80%;
}
div#article_2 li{
	list-style-type: none;
	margin-left: 20px;
}
/*图片组*/
.Pic{
	border: 1px solid rgb(205,205,205);
	margin: 10px;
	height: 160px;
	width: 130px;
	float: left;
}
.Pic img
{
	display: inline;
	border: 1px solid rgb(205,205,205);
	margin: 10px;
}
.Pic p
{
	text-indent: 0em;
	text-align: center;
}
/*最后一篇文章*/
div#article_3 ol{
	margin-left: 50px;
}
p#decs{
	text-indent: 0;
}
div#article_3 table{
	width: 100%;
	border-collapse: collapse;
}	
div#article_3 table,th,td{
	border: 1px solid rgb(205,205,205);
}
div#article_3 th{
	background-color: rgb(51,51,51);
	color: white;
}
tr#total{
	background-color: rgb(200,200,200);
	font-weight: bold;
}
.Clear{
	clear: both;
}

/*底栏*/
div#footer{
	height: 60px;
	background-color: black;
	color: white;
	text-align: center;
}